@import url("https://fonts.googleapis.com/css?family=Crete+Round|Kalam&display=swap");

* {
  margin: 0;
  text-align: center;
  padding: 0;
}
/**/

body {
  background-color: #a31621;
  color: #ced3dc;
  font-family: "Crete Round", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kalam", cursive;
}
#content {
  width: 80%;
  margin: auto;
}

header img {
  margin: auto;
  width: 100%;
}

#howeHeader {
  font-size: 2.75em;
  padding: 0.5em;
  background-color: #4e8098;
  color: #fcf7f8;
  display: inline-block;
  margin: 1em auto;
  margin-top: 0.5em;
  border-radius: 15px;
  text-shadow: 0.2em 0.2em 0.4em #a31621;
}
main {
  margin: auto;
}
#mainBTNdiv {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 1.5em;
  row-gap: 1.5em;
}

.categorybtns {
  color: #a31621;
  font-size: 2em;
  padding: 1em;
  background-color: #fcf7f8;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.3em 0.3em 0.5em #4e8098;
}

.categorybtns:hover {
  background-color: #ced3dc;
}

#pageTitle {
  font-size: 2.5em;
  color: #fcf7f8;
  padding-bottom: 0.07em;
  text-decoration: underline #4e8098;
  margin-bottom: 0.25em;
  display: inline-block;
}

#recipesOL {
  background-color: #90c2e7;
  color: #a31621;
  font-weight: bolder;
  margin: auto;
  padding: 1em;
  border-radius: 1em;
  width: 50%;
  padding: 0.5em;
  padding-left: 1.5em;
  text-align: center;
  text-decoration: none;
  list-style: inside;
}

#recipesOL li {
  font-size: 2em;
  padding: 0.5em;
  text-align: left;
  text-decoration: none;
  color: #a31621;
}
#recipesOL li:hover {
  text-shadow: 0.4em 0.4em 0.4em #4e8098;
}

#recipesOL a:link {
  text-decoration: none;
}

#ingred,
#instruct {
  font-size: 1.5em;
  margin: 0.25em;
}
#ingred {
  width: 75%;
  background-color: #4e8098;
  color: #fcf7f8;
  padding: 0.75em;
  border-radius: 20px;
  font-weight: lighter;
  margin: 0.4em auto;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 1em;
  justify-items: left;
}

#ingred li {
  text-align: left;
}

footer {
  margin-top: 4em;
  padding-bottom: 0.5em;
}

.addUpdate {
  text-align: center;
  color: #a31621;
  font-size: 2.5em;
  margin: 1em;
  padding: 0.35em;
  background-color: #fcf7f8;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 15px;
  box-shadow: 0.3em 0.3em 0.5em #4e8098;
  font-family: "Kalam", cursive;
}
.addUpdate:hover {
  background-color: #ced3dc;
}
#recipeform {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
  row-gap: 0.5em;
}
.nameGrid {
  grid-row: 1;
}
.catGrid {
  grid-row: 2;
}
.ingGrid {
  grid-row: 3;
}
.instGrid {
  grid-row: 4;
}
.subGrid {
  grid-row: 5;
}
