* {
  margin: 0;
  text-align: center;
  padding: 0;
}
/*#4e8098*/
body {
  background-color: #a31621;
  color: #ced3dc;
}
header img {
  position: relative;
}

#howeHeader {
  position: absolute;
  justify-self: center;
}

#mainBTNdiv {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 4em);
  column-gap: 1em;
  row-gap: 1em;
}

.categorybtns {
  color: #a31621;
  font-size: 2em;
  padding: 1em;
  margin: 1em;
  background-color: #fcf7f8;
  text-decoration: none;
  font-weight: bolder;
  display: block;
}
