* {
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: antiquewhite;
}
body {
  background-color: gray;
  margin: 0 auto;
  width: 80%;
}

header {
  background-color: #94d788;
  color: #2e82c2;
}
#header {
  display: inline;
}
