* {
  margin: 0;
  box-sizing: border-box;
}

/*blue in logo: 2e82c2
green in logo: 94d788*/
body {
  background-color: gray;
  margin: 0 auto;
}

header {
  background-color: #94d788;
  color: #2e82c2;
}
