* {
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
}
body {
  background-color: gray;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
}

header {
  background-color: #94d788;
  color: #2e82c2;
}
#header {
  display: flex;
}
#logo {
  float: left;
}
