* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 32px;
  font-family: "Bree Serif", serif;
  font-weight: bold;
  background-color: #b6face;
}

a {
  text-decoration: none;
}

h1 {
  padding: 1rem;
  padding-left: 0rem;
  font-size: 4em;
  color: #b6face;
}

h2 {
  font-size: 2em;
  text-align: left;
  padding: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #b6face;
}

li a:hover {
  background-color: antiquewhite;
}

main {
  font-size: 1.5rem;
  background-color: lightpink;
  color: rgb(97, 42, 3);
}

header,
main,
footer {
  margin: 1.25rem auto;
  padding: 0.5rem;
  max-width: 80%;
}

header,
footer,
footer a {
  text-align: left;
  background-color: #8c041b;
  color: whitesmoke;
}

header img {
  width: 250px;
  height: auto;
  float: right;
  border: 3px solid whitesmoke;
}

footer {
  font-size: 1em;
}
