* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bree Serif", serif;
  font-weight: bold;
  background-color: #b6face;
}

a {
  text-decoration: none;
}

h1 {
  padding: 0.2em, auto;
  font-size: 4em;
  color: #b6face;
}

h2 {
  font-size: 2em;
  text-align: left;
  padding: 0.5em;
  border-bottom: 0.25em solid #b6face;
}

li a:hover {
  background-color: #8c041b;
  color: #ffffff;
}

main {
  font-size: 1.5em;
  background-color: #ffffff;
  color: #8c041b;
}

header,
main,
footer {
  margin: 1.25em auto;
  padding: 0.5em;
  max-width: 80%;
}

header,
footer,
footer a {
  padding-left: 1em;
  text-align: left;
  background-color: #8c041b;
  color: #ffffff;
}

header img {
  margin-top: 0.5em;
  margin-right: 0.5em;
  float: right;
  border: 0.5em solid #ffffff;
}

footer {
  font-size: 1em;
}
